{%
  set classes = [
  'region',
  'region--' ~ region|clean_class,
]
%}

{% block content %}
  {% if content %}
    <div{{ attributes.addClass(classes) }}>
      <div class="container">
        {{ content }}
      </div>
    </div>
  {% endif %}
{% endblock %}